<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020867390794-ha3n4jpfirt10t69ttb0bchji7p3qmi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020867390794-ha3n4jpfirt10t69ttb0bchji7p3qmi4</string>
	<key>API_KEY</key>
	<string>AIzaSyBzeYoB00aaDbMeNj_ShiwRKsQa5rBLkTg</string>
	<key>GCM_SENDER_ID</key>
	<string>1020867390794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airbornharsh.studymatApp</string>
	<key>PROJECT_ID</key>
	<string>studymat-1</string>
	<key>STORAGE_BUCKET</key>
	<string>studymat-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020867390794:ios:cb4fc4e80d39c5859b65b3</string>
</dict>
</plist>